{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <style>

        body{

            background-color: gray;
        }

    </style>

    <body>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <div class="text-center">

                <p>
                    we've Emailes you instructions for setting your password.

                    please check your <strong>Gmail</strong>.

                </p>

            </div>

        </div>

    </body>


{% endblock %}