
{% include "store/base.html" %}


{% load static %}


{% block content %}

    <style>

        body
        {

            background-color: gray;

        }


    </style>


    <body>

        <br>

         <div class="container bg-white shadow-md p-5 form-layout">

             <div class="text-center">

                 <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>

                 <br> <br>

                 <h5> <strong> Page NOT Found! </strong> </h5>

                 <hr>

                 <p> Your page looking for does'nt founld . </p>
                 
                 <a class="btn btn-info navbar-btn text-white" type="button"  href="{% url 'store' %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Home Page </a>
             </div>



        </div>

    </body>

{% endblock %}