
{% include "store/base.html" %}


{% load static %}


{% block content %}

    <style>

        body
        {

            background-color: gray;

        }


    </style>


    <body>

        <br>

         <div class="container bg-white shadow-md p-5 form-layout">

             <div class="text-center">

                 <h3> <strong> <i class="fa fa-list-alt fa-1x" aria-hidden="true"></i>
                     &nbsp; Track My Orders</strong> </h3>

                 <hr>

             </div>



        </div>

    </body>

{% endblock %}